/* import styled from 'styled-components'

const StyledLogo = styled.div`
    display: inline-block;
    height: 40px;
    cursor: pointer;

    img {
        wight: 100%;
        height: 100%;
        object-fit: cover;
    }
`

export default StyledLogo; */
